.img_icon {
  height: auto;
  width: auto;

  user-focus: none;
  user-modify: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  pointer-events: none;
}
